body{
background: linear-gradient(to left, rgb(145, 145, 9) 30%, rgb(150, 98, 1) 100%);

}

h1{

font-family: 'Comforter', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
}

h3{
    font-family: 'Comforter', cursive;
    width: 40%;
    font-family: 'Lobster', cursive;
   background-color: rgb(190, 225, 255);
    font-size: 20px;   
}
h2, h4{
    font-family: 'Comforter', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
   
    font-size: 20px;
}

.form-control{
width:30%;
height: 50px;
}

#start{
width: 20%;
height: 40px;
background-color: lightblue;
color: brown;
font-size: 20px;
font-family: 'Pacifico', cursive;
border-radius: 20px;
}

.footer{
background-color: rgb(43, 42, 42);
color: azure;
height: 30px;
padding-top: 10px;
position: fixed;
bottom: 0;
width: 100%;
}

img:hover{
border-radius: 50%;
transform:scale(1.1);
border-width: 2px;
border-color:black;
}

img{
transition: 0.4s all;
border-style: groove;
}

